**/__pycache__
**/tmp

**/.DS_Store


.idea
.vscode

.venv

data/teco500
data/teco500_cache
data/py500
data/py500_cache
data/*.zip

data/toga_data
data/teco500_for_teco

data/resources

results
resources
logs
cache

**/tmp*

run*.sh

archive*
